@import '../../../commons/uikit/components/variables.scss';

.item {
  max-width: 480px;
  margin: auto;

  .itemImage {
    margin-bottom: 15px;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  span {
    display: block;
  }

  .itemName {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .itemDesc {
    line-height: 1.5;
    font-size: 16px;
    // letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .itemLocation {
    line-height: 1.5;
    margin-bottom: 7px;

    i {
      margin-right: 10px;
      float: left;
      color: $color-main-light;
    }
  }

  .itemPhone {
    line-height: 1.5;
    margin-bottom: 7px;

    i {
      margin-right: 10px;
      float: left;
      color: $color-main-light;
    }
  }

  .itemPrice {
    line-height: 1.5;
    margin-bottom: 7px;

    i {
      margin-right: 10px;
      float: left;
      color: $color-main-light;
    }
  }
}